<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.bluetooth.hardware.bluetooth_le"
        android:requiredFeature="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.bluetooth.device.action.BATTERY_LEVEL_CHANGED" />
    <uses-permission android:name="android.bluetooth.device.extra.BATTERY_LEVEL" />
    <uses-permission android:name="android.bluetooth.headset.profile.action.AUDIO_STATE_CHANGED" />
    <uses-permission android:name="android.bluetooth.headset.action.HF_INDICATORS_VALUE_CHANGED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="아맞다충전"
        android:supportsRtl="true"
        android:theme="@style/Theme.Com02"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/mainActivity" />

        <service
            android:name=".Service.BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.DeviceControlActivity"
            android:exported="false"
            android:label="@string/title_activity_device_control"
            android:theme="@style/Theme.Com02.NoActionBar" />
    </application>

</manifest>