<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                     android:usesPermissionFlags="neverForLocation"
                     tools:targetApi="s" />
    <uses-permission android:name="android.bluetooth.hardware.bluetooth_le"
                     android:requiredFeature="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.bluetooth.device.action.BATTERY_LEVEL_CHANGED" />
    <uses-permission android:name="android.bluetooth.device.extra.BATTERY_LEVEL" />
    <uses-permission android:name="android.bluetooth.headset.profile.action.AUDIO_STATE_CHANGED" />
    <uses-permission android:name="android.bluetooth.headset.action.HF_INDICATORS_VALUE_CHANGED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="아맞다충전"
        android:supportsRtl="true"
        android:theme="@style/Theme.Com02"
        tools:targetApi="31">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
              <action android:name="android.intent.action.MAIN"/>
              <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>
        </activity>

        <service android:name=".BluetoothLeService"
                 android:enabled="true"
                 android:exported="true" />

        <activity
            android:name=".DeviceControlActivity"
            android:theme="@style/Theme.Com02.NoActionBar" />

<!--        <activity android:name=".DeviceScanActivity"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->
    </application>


</manifest>